@import url("https://fonts.googleapis.com/css?family=Gochi+Hand|Pacifico|Lexend+Deca|Barlow|Archivo+Narrow|Rajdhani|Lobster&display=swap");

.App-title {
  text-transform: uppercase;
  font-family: "Gochi Hand", cursive;
  font-size: 60px;
  text-shadow: 5px 3px #48c6ef;
  margin: 30px 0;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #e1ecf4;
}

.App-logo {
  height: 150px;
  object-fit: cover;
  pointer-events: none;
  margin: 0 auto;
  display: block;
}
.userControl {
  background-color: #f2f3f4;
  padding: 10px;
  width: 100%;
  display: block;
  text-align: center;
  border-top: 1px solid #ddd;
  color: #0883cc;
}
.userControl .userFullName {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}


.userControl .logoutButton {
  background-color: #e74c3c;
  /*box-shadow: 0 4px 8px rgba(59, 64, 69, 0.2);
  */
  color: #fff;
  width: 30px;
  height: 30px;
  border: 0;
  margin-right: 10px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.App-header {
  overflow: auto;
  background-color: white;
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
  color: white;
  position: fixed;
  width: 280px;
  height: 100%;
  left: 0;
  text-align: left;
  box-shadow: 0 4px 8px rgba(59, 64, 69, 0.2) !important;
  transition: 0.2s ease;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
}

.Menu-link {
  position: absolute;
  width: 100%;
  border-top: 1px solid #ddd;
  padding-top: 25px;
  padding-bottom: 55px;
}

.App-link {
  cursor: default;
  display: flex;
  text-decoration: none;
  /* text-transform: uppercase; */
  padding: 12px 25px;
  color: #0883cc !important;
  position: relative;
  /* clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%); */
  border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -ms-border-radius: 0 50px 50px 0;
  -o-border-radius: 0 50px 50px 0;
}

.App-link.active {
  /* padding-left: 35px; */
  background-image: linear-gradient(to right, #0586ff, #0cb3ff);
  color: #f2f3f3 !important;
}

.App-link:hover {
  text-decoration: none;
  /* padding-left: 35px; */
  /* color: #f2f3f3; */
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.App-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -ms-border-radius: 0 50px 50px 0;
  -o-border-radius: 0 50px 50px 0;
}
.App-link:not(.active):hover::before {
  background-color: #ebebeb;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  animation: menu-hover 0.3s;
  -webkit-animation: menu-hover 0.3s;
}
.App-link i.fa {
  width: 45px;
  font-size: 20px;
  /* margin-right: 15px; */
  vertical-align: middle;
  line-height: 1.2;
}

@keyframes menu-hover {
  0% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.main-route-place {
  /* display: flex; */
  position: relative;
  margin-left: 280px;
  padding: 25px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Note-list {
  overflow: hidden;
  position: relative;
}

@media only screen and (min-width: 576px) {
  .card-columns {
    column-count: 1 !important;
  }
}

@media only screen and (min-width: 768px) {
  .card-columns {
    column-count: 2 !important;
  }
}

@media only screen and (min-width: 992px) {
  .card-columns {
    column-count: 3 !important;
  }
}
@media only screen and (min-width: 1200px) {
  .card-columns {
    column-count: 4 !important;
  }
}

@media only screen and (min-width: 1920px) {
  .card-columns {
    column-count: 5 !important;
  }
}

.Note-search {
  margin: 50px 0;
}

.input-box {
  padding: 15px 30px;
  border: 0;
  outline: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: 0 2px 4px rgba(59, 64, 69, 0.2);
  color: #999;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.input-box:focus {
  box-shadow: 0 4px 8px rgba(59, 64, 69, 0.2);
}

.input-search {
  width: 500px;
  padding-right: 60px;
}

.Button-search {
  background-color: #0792ff;
  box-shadow: 0 4px 8px rgba(59, 64, 69, 0.2);
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 0;
  transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
}

@media only screen and (max-width: 780px) {
  .input-search {
    width: 100%;
  }

  .App-header {
    transform: translateX(-280px);
    -webkit-transform: translateX(-280px);
    -moz-transform: translateX(-280px);
    -ms-transform: translateX(-280px);
    -o-transform: translateX(-280px);
  }

  .toggle-header {
    display: block !important;
  }

  .main-route-place {
    margin-left: 0;
  }
}

.virtual-file-upload {
  display: none;
}

.Note-image {
  background-color: #f2f2f2;
  cursor: pointer;
}
.Note-image img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
}

.toggle-header {
  background: #fff;
  border: 0;
  box-shadow: 0 4px 8px rgba(59, 64, 69, 0.2) !important;
  position: absolute;
  top: 10px;
  right: -45px;
  font-size: 20px;
  padding: 5px 15px;
  color: #666;
  display: none;
}
img.uploading {
  filter: blur(4px);
}

.popover {
  box-shadow: 0 4px 8px rgba(59, 64, 69, 0.2) !important;
  border-radius: 7px !important;
  border: 0 !important;
}

.Menu-title {
  color: #666;
  width: 100%;
  border-top: 1px solid #ddd;
  padding: 12px 25px;
  margin-top: 12px;
}

.checkboxBase {
  border: 1px solid #999;
}
.popover {
  min-width: 150px;
}

.Popover-title {
  width: 100%;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  color: #666;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  /* font-size: 14px; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.Note-tags {
  padding: 2px 0;
  font-size: 14px;
}
.Note-tags > .Note-tag {
  box-shadow: 0 4px 8px rgba(59, 64, 69, 0.2);
  display: inline-block;
  margin: 2px;
  background-color: #0792ff;
  color: #fff;
  padding: 0 15px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.Modal-title {
  font-weight: 500;
  color: #666;
  font-size: 16px;
}
