.Note-item {
  color: #333;
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(59, 64, 69, 0.2) !important;
  border-radius: 7px !important;
}

.Note-item.collapse {
  max-height: 200px;
  display: block !important;
}

.Note-item.expand {
  max-height: unset;
  display: block !important;
}

.Note-item i.fa {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.Note-item.safe {
  border-top: 4px solid #2ecc71;
}
.Note-item.safe i.fa {
  color: #2ecc71;
}

.Note-item.warning {
  border-top: 4px solid #f1c40f;
}
.Note-item.safe i.fa {
  color: #f1c40f;
}

.Note-item.danger {
  border-top: 4px solid #e74c3c;
}
.Note-item.safe i.fa {
  color: #e74c3c;
}

.Note-item.info {
  border-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%) 100% 0 0 0;
  border-width: 3px;
  border-style: solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.Note-item.safe i.fa {
  color: #3498db;
}

.Note-id {
  font-weight: 500;
}

.Note-time {
  margin-left: auto;
  font-size: 12px;
  color: #666;
  font-style: italic;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  line-height: 2.2;
  vertical-align: middle;
}

.Note-title {
  /* margin-left: 10px; */
  /* font-weight: 500; */
  font-family: 'Pacifico', cursive;
  font-size: 24px !important;
  color: #555;
  /* text-shadow:  */
}

.Note-item .Note-span {
  padding: 10px;
}

.Note-item .Note-control {
  /* border-top: 1px solid #eee; */
  color: #fff;
  bottom: 0;
  width: 100%;
  display: flex;
  padding: 5px 10px;
}

.Note-item .Note-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
}

.Note-control-button {
  font-size: 16px;
  color: #666;
  background: 0;
  border: 0;
  cursor: pointer;
}

.Note-control-button:focus {
  outline: 0;
}
