.Add-note {
  background-color: #fff;
  position: relative;
  cursor: pointer;
  min-height: 200px;
}

.Add-note:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.Add-note .Add-note-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #999;
  transform: translateY(-30%);
  -webkit-transform: translateY(-30%);
  -moz-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  -o-transform: translateY(-30%);
}

.Add-note .Add-note-content i {
  font-size: 35px;
}

.card {
  border: 0 !important;
}
