.login-component {
  background-image: linear-gradient(45deg, #0c2a70 0%, #09acdd 100%);
  width: 100vw;
  height: 100vh;
}

.login-panel {
  overflow: hidden;
  position: fixed;
  width: 70vw;
  height: 70vh;
  min-height: 545px;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.1);
}

.login-backdrop {
  font-family: "Rajdhani", sans-serif;
  font-size: 60px;
  text-align: left;
  padding: 50px 35px;
  color: #fff;
  left: 0;
  position: absolute;
  height: 100%;
  background-image: linear-gradient(45deg, #0c2a70 0%, #09acdd 100%);
  width: calc(100% - 450px);
  margin-right: auto;
  overflow: hidden;
}

.login-backdrop .mini-text {
  font-size: 20px;
}

.login-backdrop img {
  width: 50%;
  right: 0;
  position: absolute;
  bottom: 0;
}

.login-control {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  right: 0;
  position: absolute;
  height: 100%;
  width: 450px;
  background-color: #fff;
  padding: 50px;
  display: block;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

.login-control img {
  width: 150px;
  display: block;
  margin: 0 auto;
}

.login-control input {
  display: block;
  margin: 0 auto;
  margin: 25px 0;
  border: 0;
  border-bottom: 2px solid #d0d1d3;
  width: 100%;
  outline: 0;
  padding: 3px 10px;
}
.login-control .title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  color: #09acdd;
}

.buttonLogin {
  margin-top: 25px;
  width: 100%;
  background-color: #0792ff;
  border: 0;
  color: #fff;
  /* text-transform: uppercase; */
  line-height: 2.5;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  outline: 0;
}

@media only screen and (max-width: 1200px) {
  .login-panel {
    min-width: 841px !important;
  }
}

@media only screen and (max-width: 960px) {
  .login-panel {
    min-width: 720px !important;
  }

  .login-control {
    width: 400px;
  }

  .login-backdrop {
    width: calc(100% - 400px);
  }
}

@media only screen and (max-width: 720px) {
  .login-panel {
    width: 100vw !important;
    height: 100vh !important;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .login-control {
    display: block !important;
    right: unset;
    bottom: 0;
    min-height: 500px;
    height: 60vh;
    width: 100vw;
    padding-bottom: 40px !important;
  }

  .login-backdrop {
    display: block !important;
    width: 100vw;
    height: 40vh;
    margin-right: 0;
    font-size: 30px !important;
  }
  .login-backdrop .mini-text {
    font-size: 16px !important;
  }
}

.label-result {
  margin: 35px 0;
  color: orangered;
  background-color: rgba(255, 69, 0, 0.2);
  width: 100%;
  padding: 5px 15px;
  border: 1px solid orangered;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

.label-result.show {
  display: block;
  opacity: 1;
}

.label-result.hide {
  display: none;
  opacity: 0;
}

.login-control.show {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.login-control.hide {
  transform: translateX(450px);
  -webkit-transform: translateX(450px);
  -moz-transform: translateX(450px);
  -ms-transform: translateX(450px);
  -o-transform: translateX(450px);
}

.handle-mode {
  z-index: 11;
  position: absolute;
  right: 0;
  text-align: right;
}

.handle-mode button {
  margin: 5px 0;
  width: 100%;
  text-align: left;
  font-size: 18px;
  padding: 10px 25px;
  font-weight: bold;
  display: block;
  background-color: #fff;
  color: #0A89BF;
  border: 0;
  border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -ms-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px;
}
